{
  "stripe-public-key": "pk_test_LGrYxpfzI89s9yxXJfKcBB0R",
  "pusher-public-key": "331ca3447b91e264a76f",
  "cdn-url" : "https://d2yuwrm8xcn0u8.cloudfront.net",
  "aws" : {
    "bucket" : "buckey",
    "key" : "xxx",
    "secret" : "yyy",
    "distributionId" : "see-aws-cloudfront-settings"
  }
}