{
  "stripePublicKey": "",
  "pusherPublicKey": "",
  "cdnUrl" : "",
  "pathToServer": "https://something.com/",
  "honeybadgerPublicKey" : "xxx",
  "aws" : {
    "bucket" : "buckey",
    "key" : "xxx",
    "secret" : "yyy",
    "distributionId" : "see-aws-cloudfront-settings"
  }
}