doctype
head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Jasmine Spec Runner
    link(rel="stylesheet", href="../css/vendor/cleanslate/cleanslate.css")
    link(rel="stylesheet", type="text/css", href="../css/vendor/jasmine/lib/jasmine-2.0.0/jasmine.css")
    script(src="../js/vendor/jasmine/lib/jasmine-2.0.0/jasmine.js")
    script(src="../js/vendor/jasmine/lib/jasmine-2.0.0/jasmine-html.js")
    script(src="../js/vendor/jasmine/lib/jasmine-2.0.0/boot.js")
    //- your own scripts.
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="http://js.pusher.com/2.1/pusher.min.js")
    script(src="https://js.stripe.com/v2/")
    script(src="../js/vendor/jquery.payment/jquery.payment.js")
    script(src="../js/vendor/knockout/index.js")
    script(src="../js/vendor/knockout-validation/Dist/knockout.validation.min.js")
    script(src="../js/jquery.donations.loader.js", id="donation-script", data-testmode="true", data-imgPath="./img" data-org="org")
    //- spec files here.
    script(src="../js/test/donation-form-spec.js")
body
