doctype
head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Jasmine Spec Runner
    link(rel="stylesheet", href="../css/vendor/cleanslate/cleanslate.css")
    link(rel="stylesheet", type="text/css", href="../css/vendor/jasmine/lib/jasmine-2.0.0/jasmine.css")
    - for(var srcSet in vendor_scripts)
        each src in vendor_scripts[srcSet]
            script(src= "../js/" + src)
    script(src="../js/jquery.donations.loader.js", id="donation-script", data-testmode="true", data-imgPath="./img" data-org="org")
    //- spec files here.
    script(src="../js/test/donation-form-spec.js")
body
